@import '../../../../assets/styles/variables.scss';

.gridPhotos__container {
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(2, 220px);
	box-sizing: border-box;
	margin-bottom: 10px;

	@media (max-width: 900px) {
	  grid-template-rows: repeat(2, 150px);
	}
}

.gridPhotos__item {
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 1;
	transition: 0.5s;
	object-fit: cover;
}

.gridPhotos__item_title {
	transform: translate(0, -100%);
	transition: all 0.5s;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	color: $white;
}

.gridPhotos__item_overlay {
	position: relative;
	background-color: black;
	overflow: hidden;
	cursor: pointer;
	
	&:hover {
	  .gridPhotos__item {
		opacity: 0.5;
	  }
	  .gridPhotos__item_title {
		transform: translate(0, 0);
		text-align: center;
	  }
	}
}
.noFounded__movies {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	margin: 50px 0;
	&::before {
		content: '';
		top: 0;
		left: 0;
		width: 50px;
		height: 50px;
		background: url('../../../../assets/icons/warning.svg') no-repeat center;
	}
}