@import '../../../../assets/styles/variables.scss';

.tablePhotos__container {
	display: grid;
    grid-template-columns: repeat(4, 23%);
    box-sizing: border-box;
    grid-column-gap: 30px;
    grid-row-gap: 25px;

	@media (max-width: $secondPCScreen) {
		grid-column-gap: 25px;
	}

	@media (max-width: $firstTabletScreen) {
		grid-column-gap: 20px;
	}

	@media (max-width: $secondTabletScreen) {
		grid-template-columns: repeat(3, 31%);
		grid-row-gap: 20px;
	}

	@media (max-width: $firstMobileScreen) {
		grid-template-columns: repeat(2, 48%);
		grid-row-gap: 25px;
		grid-column-gap: 18px;
	}
	
	@media (max-width: $secondMobileScreen) {
		grid-row-gap: 10px;
	}
}

.tablePhotos__item {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $white;
	border-radius: 16px;
	padding-bottom: 25px;
	filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25));

	@media (max-width: $secondMobileScreen) {
		font-size: 16px;
	}
}

.tablePhotos__item_photo {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	width: 100%;
	height: 220px;
	margin-bottom: 10px;
	filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
	object-fit: cover;

	@media (max-width: $secondTabletScreen) {
		height: 170px;
	}
	
	@media (max-width: $firstMobileScreen) {
		height: 220px;
		margin-bottom: 5px;
	}
	
	@media (max-width: $secondMobileScreen) {
		height: 180px;
	}
}

.tablePhotos__item_description {
	padding: 0 10px;
    padding-bottom: 10px;
}

.button__moreInfo {
	position: absolute;
	bottom: 10px;
	right: 30px;
	cursor: pointer;

	&::after {
		position: absolute;
		content: "";
		width: 20px;
		height: 10px;
		background: url('../../../../assets/icons/right-arrow.svg') no-repeat center;
		background-size: 100% ;
		top: 56%;
		transform: translate(0, -50%);
		border-radius: 50%;
		margin-left: 5px;
	}
}

.noFounded__movies {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	margin: 50px 0;
	&::before {
		content: '';
		top: 0;
		left: 0;
		width: 50px;
		height: 50px;
		background: url('../../../../assets/icons/warning.svg') no-repeat center;
	}
}