.photos__grid {
	display: grid;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(2, 220px);
	box-sizing: border-box;

	@media (max-width: 900px) {
		grid-template-rows: repeat(2, 150px);
	}
}

.photos__grid_itemOverlay {
	position: relative;
	background-color: black;
	overflow: hidden;

	&:hover {
		.photos__grid_item {
			opacity: 0.5;
		}
		.grid__item_title {
			position: absolute;
			transform: translate(0, 0);
		}
	}
}

.photos__grid_item {
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 1;
	transition: 0.5s;
}

.grid__item_title {
	transform: translate(0, -100%);
	transition: all 0.5s;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	color: #ffffff;
}
