@import "./assets/styles/variables.scss";

.wrapper {
	display: flex;
	flex-direction: column;
	// min-height: 100%;
}


ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1120px;
	padding: 0 5px;
	margin: 0 auto;

	@media (max-width: $secondPCScreen) {
		max-width: 930px;
	}
	@media (max-width: $firstTabletScreen) {
		max-width: 730px;
	}
	@media (max-width: $secondTabletScreen) {
		max-width: 560px;
	}
	@media (max-width: $firstMobileScreen) {
		width: auto;
		padding: 0 10px;
	}
}

a {
	text-decoration: none;
	color: $black;
}

//Preloader
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #cef;
	border-color: #cef transparent #cef transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// !Preloader

//scrollBar

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
	background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
	background-color: $mainColor;
	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(0.5, rgba(255, 255, 255, 0.25)),
		color-stop(0.5, transparent),
		to(transparent)
	);
}

//!scrollBar

.content__container {
	margin-bottom: 25px;
	
	@media (max-width: $secondTabletScreen) {
		margin-bottom: 15px;
	}
}
