.wrapper {
	display: flex;
	flex-direction: column;
}
.dark-wrapper {
	display: flex;
	flex-direction: column;
	background-color: #808080;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1120px;
	padding: 0 5px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000;
}

//Preloader
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #cef;
	border-color: #cef transparent #cef transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// !Preloader

//scrollBar

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
	background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
	background-color: #24bb96;
	background-image: -webkit-gradient(
		linear,
		0 0,
		0 100%,
		color-stop(0.5, rgba(255, 255, 255, 0.25)),
		color-stop(0.5, transparent),
		to(transparent)
	);
}

//!scrollBar

//Оболочка для ошибки
.content__container {
	position: relative;
}
.error__container {
	position: fixed;
	right: 10px;
	bottom: 10px;
	background-color: red;
	animation: open-modal-error 1s ease;
	padding: 10px;
	border-radius: 10px;
}
.error__container_close {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
	margin-bottom: 5px;
}
.error__container_text {
	color: #fff;
}

@keyframes open-modal-error {
	from {
		transform: translate(0, 200%);
	}
	to {
		transform: translate(0, 0);
	}
}
//!Оболочка для ошибки
