.wrapper {
	display: flex;
	flex-direction: column;
}
.dark-wrapper {
	display: flex;
	flex-direction: column;
	background-color: #808080;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.container {
	max-width: 1120px;
	padding: 0 5px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000;
}

//Preloader
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #cef;
	border-color: #cef transparent #cef transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// !Preloader
