//fonts
$mainFont: "Montserrat", sans-serif;
$secondFont: "Lato", sans-serif;
$codeFont: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

//colors
$backgroundColor: #f8f8f8;
$darkBackgroundColor: #808080;
$mainColor: #24bb96;
$black: #000;
$white: #fff;
